@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background-color: #645D54;
}


input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input:active,
select:active,
textarea:active {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

button {
  cursor: pointer;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

#input:focus-within {
  border-bottom: 2px solid #645d54ab;
}